$logo-ht: 50px;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;

  @include for-tablet-portrait-up {
    padding: 0 2em;
  }

  &:hover &__brand .fullname {
    left: calc(#{$logo-ht} + 20px);
    opacity: 1;
  }

  &__brand {
    height: $logo-ht;
    width: $logo-ht;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.2em;
    font-weight: 700;
    position: relative;
    text-decoration: none;

    .initials {
      text-decoration: none;
      color: $secondary-color;
    }

    .fullname {
      display: none;
      letter-spacing: 3px;
      position: absolute;
      left: 0;
      opacity: 0;
      white-space: nowrap;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2em;
      text-transform: uppercase;
      font-weight: 600;
      color: $primary-color;
      text-decoration: none;
      transition: opacity .4s, left .4s ease-out;

      @include for-tablet-portrait-up {
        display: block;
      }
    }
  }

  &__brand--yellow {
    background-color: $ripe-lemon;
  }

  .nav {
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, auto);
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    display: grid;

    @include for-tablet-portrait-up {
      grid-column-gap: 40px;
    }

    &__item {
      display: none;
      letter-spacing: 3px;
      position: relative;

      @include for-tablet-portrait-up {
        display: block;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: $ripe-lemon;
        transition: transform .2s;
        transform: scale(0);
      }

      &:hover:after {
        transform: scale(1);
      }

      &--about:after {
        background-color: $tall-poppy;
      }

      &--projects:after {
        background-color: $danube;
      }

      &--contact:after {
        background-color: $silver-tree;
      }

      a {
        display: inline-block;
        color: $primary-color;
        text-decoration: none;
        line-height: 3em;
      }
    }

    &--collapsed {
      display: block;

      @include for-tablet-portrait-up {
        display: none;
      }

      &.ic-menu {
        font-size: 1.5em;
      }
    }
  }
}