// fonts
$primary-color: #DCDCDC;
$secondary-color: #000;

// backgrounds
$shark: #17181E;
$comet: #5a5e77;
$ripe-lemon: #EED71D;
$woodsmoke: #111217;

// accent colors
$tall-poppy: #C1292E;
$danube: #5688C7;
$silver-tree: #68B684;
